__pycache__/

old_git/

checks_open_scripts/
not_used_scripts/
old_scripts/
script_to_remove_from_github/

plots/

dataset/
dataset_training/
total_float_tensor.pt
*.pt
float_plots/

results_job_*

float_identif.1*

test_final_plots.1*

train_script.1*
train_script_ensemble.1*
train_s_ens.1*

random_gen.*

rmse_computation.1*

2022_*
2023_*
biogeoch_float_data_gen.1*

interpolation.1*
make_data_phys_*
open_npy_*
open_npy.1*
open_pt*
plot_st.1*
test_float_plots.1*

#images
*.png